<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Signin Page</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container">
      <h1 class="text-center mt-5">login Your Account</h1>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form
            action="/user/signin"
            method="POST"
            enctype="application/x-www-form-urlencoded"
          >
            <!-- Email Field -->
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                required
                aria-label="Email"
              />
            </div>

            <!-- Password Field -->
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
                aria-label="Password"
              />
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100">Sign up</button>
          </form>
        </div>
      </div>
    </div>
    <%- include("./partials/scripts") %>
  </body>
</html>
